<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百亿云商务平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">
    <meta name="description" content="百亿云代理登录系统">
    <meta name="keywords" content="百亿云代理登录系统">
    <meta name="format-detection" content="telphone=no, email=no"/>
    <script src="__PUBLIC__/App/js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/App/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/App/css/userAgree.css">
    <script src="__PUBLIC__/App/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="box">
        <h3>特别提示</h3>
        <p>
            大渝棋牌平台（以下简称“大渝棋牌”）在此特别提醒您（代理）在登录和使用本平台代理后台之前，请认真阅读本《馆主代理协议》（以下简称“协议”），确保您充分理解本协议中各条款。
            请您审慎阅读并选择接受或不接受本协议。
            除非您接受本协议所有条款，否则您无权登录或使用本协议所涉服务。
            您的登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
            本协议约定大渝棋牌平台与大渝棋牌馆主代理之间关于“大渝棋牌”软件以及后台管理使用服务（以下简称“服务”）的权利义务。
            “代理”是指登录、使用本代理后台的个人。
            本协议可由大渝棋牌平台随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，代理可在本网站查阅最新版协议条款。
            在大渝棋牌修改协议条款后，如果代理不接受修改后的条款，请立即停止大渝棋牌平台提供的代理服务，停止发展新用户，代理继续使用大渝棋牌平台提供的服务将被视为接受修改后的协议。
        </p>
        <h3>一、帐号生成</h3>
        <p>
            1、代理在使用本服务前需要生成一个“大渝棋牌”代理帐号。“大渝棋牌”代理帐号需要代理提供微信号，手机号，姓名，游戏id，茶楼名字，身份证照片正方面。
        </p>
        <p>
            2、代理上传资料即视为合作意愿，代理者应上传真实有效的个人信息，如有作假者，平台有权力对其进行封号，停用，冻结等处理。
        </p>
        <p>
            3、如若代理利用本平台未提供的服务进行相关违法活动，本平台保留提供相关资料给公安机关办案的权利。
        </p>
        <h3>二、服务内容</h3>
        <p>
            1、本服务的具体内容包含提供代理茶楼和下级代理的用户明细、推广佣金明细、提取相关代理费用等。
        </p>
        <p>
            2、使用本后台服务代表代理已经从商务处知晓本服务所包含的具体内容，如若产生纠纷，视为代理个人理解不当行为，本平台不予承担连带责任。
        </p>
        <h3>三、代理个人隐私信息保护</h3>
        <p>
            1、代理成为馆主和代理的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如代理提交的信息不完整或不符合法律法规的规定，则代理可能无法使用本服务或在使用本服务的过程中受到限制。
        </p>
        <p>
            2、个人隐私信息是指涉及代理个人身份或个人隐私的信息，比如，代理真实姓名、身份证号、手机号码、微信号。非个人隐私信息是指代理对本服务的操作状态以及使用习惯等明确且客观反映在“大渝棋牌”后台数据库的基本记录信息、个人隐私信息范围外的其它普通信息，以及代理同意公开的上述隐私信息。
        </p>
        <p>
            3、尊重代理个人隐私信息的私有性是“大渝棋牌”的一贯制度，“大渝棋牌”将采取技术措施和其他必要措施，确保代理个人隐私信息安全，防止在本服务中收集的代理个人隐私信息泄露、毁损或丢失。在发生前述情形或者“大渝棋牌”发现存在发生前述情形的可能时，将及时采取补救措施。
        </p>
        <div>
            4、“大渝棋牌”未经代理同意不向任何第三方公开、 透露代理个人隐私信息。但以下特定情形除外：
            <p>(1) “大渝棋牌”根据法律法规规定或有权机关的指示提供代理的个人隐私信息；</p>
            <p>(2) 由于代理将其代理密码告知他人或与他人共享帐户与密码，由此导致的任何个人信息的泄漏，或其他非因“大渝棋牌”原因导致的个人隐私信息的泄露；</p>
            <p>(3) 代理自行向第三方公开其个人隐私信息；</p>
            <p>(4) 代理与“大渝棋牌”及合作单位之间就代理个人隐私信息的使用公开达成约定，“大渝棋牌”因此向合作单位公开代理个人隐私信息；</p>
            <p>(5) 任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致代理个人隐私信息的泄露。</p>
            <div>
                5、代理同意“大渝棋牌”可在以下事项中使用代理的个人隐私信息：
                <p>(1) “大渝棋牌”向代理及时发送重要通知，如软件更新、本协议条款的变更；</p>
                <p>(2) “大渝棋牌”内部进行审计、数据分析和研究等，以改进盛圣科技的产品、服务和与代理之间的沟通；</p>
                <p>(3) 依本协议约定，“大渝棋牌”管理、审查代理信息及进行处理措施；</p>
                <p>(4) 适用法律法规规定的其他事项</p>
                <p>除上述事项外，如未取得代理事先同意，我们不会将代理个人隐私信息使用于任何其他用途。</p>
            </div>
            <p>6、“大渝棋牌”重视对未成年人个人隐私信息的保护。“大渝棋牌”将依赖代理提供的个人信息判断代理是否为未成年人。“大渝棋牌”禁止未成年人成为代理。</p>
        </div>
        <h3>四、行为规范</h3>
        <p>1、代理未经“大渝棋牌”官方授权，一律不得使用“大渝棋牌”后台、“大渝棋牌”相关游戏宣传图片、logo和游戏核心内容来对外进行宣传，甚至从事销售活动。</p>
        <p>2、代理不得收取或以“虚拟货币”等方式变相收取与游戏输赢相关的佣金，不得提供游戏积分交易、兑换或以“虚拟货币”等方式变相兑换现金、财物的服务，不得提供代理间赠予、转让等游戏积分转账服务；</p>
        <p>3、代理禁止透露后台展示内弄与用户相关的任何隐私信息给第三方。</p>
        <p>4、禁止在“大渝棋牌”平台相互拉玩家。原则上用户加入茶楼不可退出。</p>
        <p>5、禁止代理在“大渝棋牌”平台或其他茶楼内，发送自己茶楼二维码。</p>
        <p>6、禁止代理向他人透露茶楼后台相关信息，此为“大渝棋牌”平台商业秘密。</p>
        <p>7、禁止代理在游戏里面互拉玩家，以返点提成的方式诱惑玩家，扰乱市场秩序。</p>
        <p>8、馆主茶楼内有玩家想自己开茶楼的，由双方向“大渝棋牌”平台商务提出申请，根据当前馆主条件，通过“大渝棋牌”平台审核后可申请名额开发下级茶楼。作为馆主要心胸宽广，让更多的人能够边娱乐边挣钱，帮助自己，帮助他人。</p>
        <p>9、馆主开放下级茶楼时，要与下级茶楼交待清楚，一个茶楼只有一个专属二维码，切勿把自己茶楼二维码故意给下级茶楼混淆，也不能故意修改下级茶楼的后台登录密码。“大渝棋牌”平台秉承免费加盟的原则，不能收取下级茶楼代理费。</p>
        <p>10、若馆主或代理不遵守以上行为规范，官方有权利根据情节严重度提出警告，甚至取消一切推广收益、关闭馆主和代理后台。</p>
        <h3>五、账户管理</h3>
        <p>1、 “大渝棋牌”帐号的所有权归“大渝棋牌”所有，代理完成申请使用账号手续后，获得“大渝棋牌”帐号的使用权，该使用权仅属于初始申请代理本人，禁止赠与、借用、租用、转让或售卖。</p>
        <p>2、代理应遵守本协议的各项条款，正确、适当地使用本服务，如代理违反本协议中的任何条款，“大渝棋牌”在可以按照相关规定关闭违约代理的“大渝棋牌”帐号。</p>
        <p>3、代理有责任妥善保管帐号信息及帐号密码的安全，因代理保管不善可能导致遭受盗号或密码失窃，责任由代理自行承担。</p>
        <p>4、如用代理的“大渝棋牌”代理帐号1个月不登录，“大渝棋牌”通知用户后，“大渝棋牌”有权对过往提成费用等进行清零。</p>
        <h3>六、知识产权声明</h3>
        <p>1、“大渝棋牌”平台提供服务中的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归“大渝棋牌”平台所有，但代理在使用本服务前对自己发布的内容已合法取得知识产权的除外。</p>
        <p>2、“大渝棋牌”在本服务中所涉及的图形、文字或其组成，以及其他“大渝棋牌”标志及产品、服务名称（以下统称“大渝棋牌标识”），其著作权或商标权归“大渝棋牌”所有。未经“大渝棋牌”事先书面同意，用户不得将大渝棋牌标识以任何方式展示或使用或作其他处理，也不得向他人表明代理有权展示、使用、或其他有权处理大渝棋牌标识的行为。</p>
        <p>3、上述及其他任何“大渝棋牌”或相关广告商依法拥有的知识产权均受到法律保护，未经“大渝棋牌”或相关广告商书面许可，用户不得以任何形式进行使用或创造相关衍生作品。</p>
        <h3>七、法律责任</h3>
        <p>1、用户理解并同意，因代理违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿“大渝棋牌”与合作公司、关联公司，并使之免受损害。</p>
        <h3>八、不可抗力及其他免责事由</h3>
        <p>1、代理理解并确认，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，“大渝棋牌”将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户或第三方造成的损失，“大渝棋牌”及合作单位在法律允许的范围内免责。</p>
        <p>2、代理理解并确认，本服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险，因此导致的用户或第三方任何损失，大渝棋牌不承担任何责任。</p>
        <p>3、代理理解并确认，在使用本服务过程中存在来自任何他人的包括误导性的、欺骗性的、威胁性的、诽谤性的、令人反感的或非法的信息，或侵犯他人权利的匿名或冒名的信息，以及伴随该等信息的行为，因此导致的用户或第三方的任何损失，大渝棋牌不承担任何责任。</p>
        <h3>九、服务的变更、中断、终止</h3>
        <p>1、鉴于网络服务的特殊性，代理同意大渝棋牌有权随时变更、中断或终止部分或全部的服务（包括收费服务）。“大渝棋牌”变更、中断或终止的服务，“大渝棋牌”应当在变更、中断或终止之前通知代理。</p>
        <div>
            2、如发生下列任何一种情形，“大渝棋牌”有权变更、中断或终止向代理提供的免费服务或收费服务，而无需对代理或任何第三方承担任何责任：
            <p>(1) 根据法律规定代理应提交真实信息，而代理提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</p>
            <p>(2) 代理违反相关法律法规或本协议的约定；</p>
            <p>(3) 按照法律规定或有权机关的要求；</p>
            <p>(4) 出于安全的原因或其他必要的情形。</p>
        </div>
        <h3>十、免责关闭</h3>
        <p>1、本着平台代理资源不浪费，让广大代理更好的珍惜获得代理的机会，本平台需要对代理的推广分成进行考核。</p>
        <p>2、如果代理获得权限后的第一个礼拜代理自身推广分成为0，平台有权收回代理的后台账号。</p>
        <p>3、如果代理加入平台满一月以后，以后的每个自然月其当月总推广分成为0，平台有权在结算了代理推广分成后收回代理的后台账号。</p>
        <h3>十一、协议解释和修改</h3>
        <p>若本协议修改，代理再次登录的时候需要再次同意本协议，如若不同意，则可以结算了代理推广分成后收回代理的后台账号。</p>
    </div>
</body>
</html>