<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百亿云商务平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="百亿云登录系统">
    <meta name="keywords" content="百亿云登录系统">
    <script src="__PUBLIC__/App/js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/Font/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/pages.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/agentList.css">
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/index.js"></script>
    <script src="__PUBLIC__/Admin/js/pages.js"></script>
    <script src="__PUBLIC__/Admin/js/time.js"></script>
    <script src="__PUBLIC__/Admin/js/common.js"></script>
</head>
<body>
    <div class="box">
        <div id="tab1">
            <ul class="nav nav-tabs" style="margin-bottom: 16px" role="tablist" id="listTab">
                <li role="presentation" class="active"><a href="agentWithdraw.html">提现审核</a></li>
                <li role="presentation"><a href="agentWithdrawList.html">提现记录</a></li>
            </ul>
            <section class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>代理ID</th>
                        <th>订单号</th>
                        <th>提现等级</th>
                        <th>金额</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="dataList"></tbody>
                </table>
            </section>
            <div style="width: 100%;">
                <ul class="page" id="page" style="width: 100%;overflow: hidden;"></ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type:'get',
                url:"{:U('Admin/Agent/getWithdraw')}",
                dataType:'json',
                success: function (data) {
                    if(data == 'error') {
                        $("#dataList").html("暂未查询任何信息");
                    }else{
                        options={
                            "id":"page",//显示页码的元素
                            "data":data,//显示数据
                            "maxshowpageitem":2,//最多显示的页码个数
                            "pagelistcount":10,//每页显示数据个数
                            "callBack":function(datas){
                                var str = '';
                                var role = '';
                                var state = ''
                                for(var i=0;i<datas.length;i++) {
                                    str += "<tr><td class='agent_id' data-order='"+datas[i].order_id+"' data-target='"+datas[i].agent_id+"'>"+datas[i].user_id+"</td><td>"+datas[i].order_id+"</td><td>"+datas[i].pro_id+"</td><td>"+datas[i].number+"</td><td>"+getLocalTime(datas[i].add_time)+"</td><td><button class='btn btn-primary' onclick='modClick(this)'>转账</button></td></tr>"
                                }
                                $("#dataList").html(str);
                            }
                        }
                        page.init(data.length,1,options);
                    }
                }
            })
        });
        
        function modClick(This) {
            var agent_id = $.trim($(This).closest("tr").find("td.agent_id").data("target"));
            var order_id = $.trim($(This).closest("tr").find("td.agent_id").data("order"));
            if(confirm("确定要转账给此代理吗？")) {
                $.ajax({
                    type:'post',
                    url:"{:U('Admin/Agent/transferAgent ')}",
                    dataType:'json',
                    data:{'agent_id':agent_id,'order_id':order_id},
                    success:function (data) {
                        console.log(data);
                    }
                })
            }
        }
    </script>
</body>
</html>