<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百亿云商务平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="百亿云登录系统">
    <meta name="keywords" content="百亿云登录系统">
    <script src="__PUBLIC__/App/js/jquery.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/Font/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/pages.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/agentList.css">
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/index.js"></script>
    <script src="__PUBLIC__/Admin/js/pages.js"></script>
    <script src="__PUBLIC__/Admin/js/time.js"></script>
    <script src="__PUBLIC__/Admin/js/common.js"></script>
</head>
<body>
    <div class="box">
        <div id="tab1">
            <section class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>茶馆名称</th>
                        <th>茶馆ID</th>
                        <th>游戏ID</th>
                        <th>登录账号</th>
                        <th>姓名</th>
                        <th>代理等级</th>
                        <th>下属代理数</th>
                        <th>下属玩家数</th>
                        <th>总返利额</th>
                        <th>同意提升</th>
                    </tr>
                    </thead>
                    <tbody id="dataList"></tbody>
                </table>
            </section>
            <div style="width: 100%;">
                <ul class="page" id="page" style="width: 100%;overflow: hidden;"></ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type:"get",
                url:"{:U('Admin/Agent/getUpreview')}",
                success: function (data) {
                    console.log(data);
                    if(data == 'error') {
                        $("#dataList").html("暂时没查询到任何提升申请")
                    }else{
                        options={
                            "id":"page",//显示页码的元素
                            "data":data,//显示数据
                            "maxshowpageitem":2,//最多显示的页码个数
                            "pagelistcount":10,//每页显示数据个数
                            "callBack":function(datas){
                                var str = '';
                                var role = '';
                                var state = ''
                                for(var i=0;i<datas.length;i++) {
                                    if(datas[i].role == 1) {
                                        role = '初级代理';
                                    }else if(datas[i].role == 2) {
                                        role = '中级代理';
                                    }else if(datas[i].role == 3) {
                                        role = '高级代理';
                                    }else if(datas[i].role == 4) {
                                        role = '钻石代理'
                                    }
                                    str += "<tr><td>"+datas[i].tea_name+"</td><td class='agent_id' data-target='"+datas[i].agent_id+"'>"+datas[i].agent_id+"</td><td>"+datas[i].game_id+"</td><td>"+datas[i].login_id+"</td><td>"+datas[i].name+"</td><td>"+role+"</td><td></td><td></td><td>"+datas[i].total_rebate+"</td><td><button class='btn btn-primary btn-xs' onclick='agreeClick(this)'>同意</button></td></tr>"
                                }
                                $("#dataList").html(str);
                            }
                        }
                        page.init(data.length,1,options);
                    }
                }
            })
        });
        function agreeClick(This) {
            var agent_id = $.trim($(This).closest("tr").find("td.agent_id").data('target'));
            $.ajax({
                type:'get',
                url:"{:U('Admin/Agent/agreeUprole')}?agent_id="+agent_id,
                dataType:'json',
                success: function (data) {
                    if(data == 'success') {
                        alert('提升成功');
                        window.location.href="{:U('Admin/Index/agentUpreview')}";
                    }else{
                        alert('提升失败');
                        window.location.href="{:U('Admin/Index/agentUpreview')}";
                    }
                }
            })
        }
    </script>
</body>
</html>