.box {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-size: 1.4rem;
  position: relative;
  background-color: #F4F4F4;
}
.box .top_bar {
  height: 100px;
  width: 100%;
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
}
.box .top_bar .top_box {
  width: 90%;
  margin: 0 auto;
}
.box .top_bar .top_box .user_info {
  line-height: 70px;
}
.box .top_bar .top_box .user_info .col-xs-5,
.box .top_bar .top_box .user_info .col-xs-2,
.box .top_bar .top_box .user_info .col-xs-4 {
  padding-right: 5px;
  padding-left: 5px;
}
.box .top_bar .top_box .user_info img {
  width: 50px;
}
.box .top_bar .quotas > .item {
  padding-left: 5px;
  padding-right: 5px ;
}
.box .contents {
  width: 100%;
  padding-bottom: 83px;
  border: 1px solid transparent;
  background-color: #F4F4F4;
}
.box .contents .nav_bars {
  width: 96%;
  margin: 1rem auto;
  padding: 0.5rem;
  line-height: 36px;
}
.box .contents .nav_bars button {
  text-align: center;
  color: #CAA45B;
  font-size: 2.6rem;
  border: none;
  background-color: transparent;
}
.box .contents .nav_bars .input_div {
  height: 36px;
  color: #ffffff;
  overflow: hidden;
}
.box .contents .nav_bars .input_div input {
  height: 100%;
  line-height: 100%;
  outline: none;
  margin-left: -0.4rem;
  width: 76%;
  border: 2px solid #CAA45B;
  padding: 0 1rem;
  color: #CAA45B;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: 0px ;
  -webkit-appearance: none;
  background-color: #ececec;
}
.box .contents .nav_bars .input_div input:active,
.box .contents .nav_bars .input_div input:hover,
.box .contents .nav_bars .input_div input:focus {
  background-color: rgba(254, 192, 78, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.box .contents .nav_bars .input_div a {
  padding: 9px 12px;
  border: 2px solid #CAA45B;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  color: #ffffff;
  background-color: #CAA45B;
}
.box .contents .nav_bars .input_div a:hover,
.box .contents .nav_bars .input_div a:focus {
  background-color: #f3ab26 ;
  border-color: #f3ab26;
  color: #e59501;
}
.box .contents .content_box {
  background-color: #FFFFFF;
  width: 97%;
  margin: 0 auto;
  border-radius: 8px;
}
.box .contents .content_box .info_box {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 5px 10px;
}
.box .contents .content_box .info_box .info_list {
  border-bottom: 1px solid #dddddd;
  color: #979797;
  position: relative;
  padding: 5px;
}
.box .contents .content_box .info_box .info_list .arrow_right {
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  right: 20px;
}
.box .contents .content_box .info_box .info_list .arrow_right a {
  font-size: 2.6rem;
  color: #979797;
}
.box .contents .modal-dialog {
  margin-top: 50%;
}
.box .contents .modal-dialog .modal-body {
  font-size: 1.6rem;
  padding-bottom: 0;
  color: #000000;
}
.box .contents .modal-dialog .modal-body .motitle {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 2rem;
}
.box .contents .modal-dialog .modal-body .motitle input {
  border: none;
  outline: none;
}
.box .contents .modal-dialog .modal-body .motitle input:hover,
.box .contents .modal-dialog .modal-body .motitle input:focus {
  border: none;
}
.box .contents .modal-dialog .modal-body .descs {
  color: red;
  font-size: 12px;
}
.box .contents .modal-dialog .modal-footer {
  border-top: none;
}
.box .contents #mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 2000;
  display: none;
}
.box .contents #mask .mask_content {
  width: 80%;
  margin: 40% auto 0;
  background-color: #FFFFFF;
  min-height: 120px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #222222;
  position: relative;
  padding: 10px;
}
.box .contents #mask .mask_content button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -27px;
}
.box .footers {
  padding: 10px 0;
  max-width: 640px;
  width: 100%;
  border: 1px solid #dddddd;
  background: #ffffff;
  position: fixed;
  z-index: 999;
  bottom: 0;
}
.box .footers > ul {
  height: 100%;
}
.box .footers > ul .lion {
  color: #337ab7;
}
.box .footers > ul .lion a,
.box .footers > ul .lion i {
  color: #337ab7;
}
.box .footers > ul > li {
  float: left;
  width: 25%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}
.box .footers > ul > li.dropup ul.dropdown-menu {
  width: 100%;
  min-width: 100%;
  text-align: center;
  bottom: 66px;
  border-bottom: none;
}
.box .footers > ul > li.dropup ul.dropdown-menu:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  right: 42%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}
.box .footers > ul > li.dropup ul.dropdown-menu li a {
  white-space: normal;
  padding: 5px;
}
.box .footers > ul > li.dropup ul.dropdown-menu li a:link,
.box .footers > ul > li.dropup ul.dropdown-menu li a:visited,
.box .footers > ul > li.dropup ul.dropdown-menu li a:hover,
.box .footers > ul > li.dropup ul.dropdown-menu li a:active {
  text-decoration: none;
  /*超链接无下划线*/
}
.box .footers > ul > li > a {
  display: block;
  color: #C6C6C6;
  font-size: 1.4rem;
  text-align: center;
}
.box .footers > ul > li > a:link,
.box .footers > ul > li > a:visited,
.box .footers > ul > li > a:hover,
.box .footers > ul > li > a:active {
  text-decoration: none;
  /*超链接无下划线*/
}
.box .footers > ul > li > a i {
  display: block;
  width: 40%;
  margin: 0 auto 5px;
  font-size: 30px;
  color: #C6C6C6;
}
