.box {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-size: 1.4rem;
  background-color: #F4F4F4;
}
.box .title {
  width: 100%;
  height: 65px;
  line-height: 65px;
  background-color: #3e7b9f;
  color: #ffffff;
  margin-left: 0;
  margin-right: 0;
  font-size: 2.6rem;
}
.box .title p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}
.box .title a {
  color: #FFFFFF;
}
.box .title a i {
  margin-top: 20px;
}
.box .contents {
  width: 100%;
  padding-bottom: 83px;
}
.box .contents .content_box {
  width: 98%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 2rem auto 0;
  background-color: #ffffff;
  padding-bottom: 10px;
}
.box .contents .content_box .text_box {
  position: relative;
}
.box .contents .content_box .text_box .left_text {
  padding: 15px;
  font-size: 1.6rem;
}
.box .contents .content_box .text_box .er_img {
  position: absolute;
  right: 0;
  top: 5rem;
}
.box .contents .content_box .btn_group {
  text-align: center;
  padding: 10px;
}
.box .contents .content_box .btn_group .btn {
  margin-right: 20px;
  font-size: 1.6rem;
  background-color: #CAA45B;
  color: #FFFFFF;
}
.box .contents .modal {
  margin-top: 30%;
}
.box .contents .modal .modal-content {
  padding: 20px;
}
.box .contents .modal .modal-content > div.input_div {
  margin-top: 10px;
  border-bottom: 1px solid #dddddd;
}
.box .contents .modal .modal-content > div.input_div input[type=text] {
  margin-left: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}
.box .contents .modal .modal-content > div.input_div.ycode {
  position: relative;
}
.box .contents .modal .modal-content > div.input_div.ycode #getCode {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 12px;
}
.box .contents .modal .modal-content > div.amount {
  font-size: 1.6rem;
  text-align: center;
}
.box .contents .modal .modal-content > div.amount .lists {
  padding: 5px 20px;
}
.box .contents .modal .modal-content > div.amount .lists li {
  margin: 5px;
  background-color: #F4F4F4;
  border-radius: 4px;
}
.box .contents .modal .modal-content > div.amount .lists .lion {
  background-color: #D0A968;
}
.box .contents .modal .modal-content p.wechat_img {
  text-align: center;
}
.box .contents .modal .modal-content p.wechat_img img {
  width: 55%;
  padding: 5px;
  border: 2px solid #D0A968;
  border-radius: 8px;
}
.box .contents .modal .modal-content p.cash {
  width: 90%;
  margin: 0 auto;
  line-height: 28px;
}
.box .contents .modal .modal-content p.cash span.cringt {
  margin-left: 25px;
}
.box .contents .modal .modal-content > div.btn_group {
  margin-top: 20px;
  text-align: center;
}
.box .contents .modal .modal-content > div.btn_group button:nth-child(1) {
  margin-right: 5rem;
}
.box .contents #mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 2000;
  display: none;
}
.box .contents #mask .mask_content {
  width: 80%;
  margin: 40% auto 0;
  background-color: #FFFFFF;
  min-height: 120px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #222222;
  position: relative;
  padding: 10px;
}
.box .contents #mask .mask_content button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -27px;
}
.box .contents #withdraw,
.box .contents #buyCard {
  margin-top: 18%;
}
.box .footers {
  padding: 10px 0;
  max-width: 640px;
  width: 100%;
  border: 1px solid #dddddd;
  background: #ffffff;
  position: fixed;
  z-index: 999;
  bottom: 0;
}
.box .footers > ul {
  height: 100%;
}
.box .footers > ul .lion {
  color: #337ab7;
}
.box .footers > ul .lion a,
.box .footers > ul .lion i {
  color: #337ab7;
}
.box .footers > ul > li {
  float: left;
  width: 25%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}
.box .footers > ul > li.dropup ul.dropdown-menu {
  width: 100%;
  min-width: 100%;
  text-align: center;
  bottom: 66px;
  border-bottom: none;
}
.box .footers > ul > li.dropup ul.dropdown-menu:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  right: 42%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}
.box .footers > ul > li.dropup ul.dropdown-menu li a {
  white-space: normal;
  padding: 5px;
}
.box .footers > ul > li.dropup ul.dropdown-menu li a:link,
.box .footers > ul > li.dropup ul.dropdown-menu li a:visited,
.box .footers > ul > li.dropup ul.dropdown-menu li a:hover,
.box .footers > ul > li.dropup ul.dropdown-menu li a:active {
  text-decoration: none;
  /*超链接无下划线*/
}
.box .footers > ul > li > a {
  display: block;
  color: #C6C6C6;
  font-size: 1.4rem;
  text-align: center;
}
.box .footers > ul > li > a:link,
.box .footers > ul > li > a:visited,
.box .footers > ul > li > a:hover,
.box .footers > ul > li > a:active {
  text-decoration: none;
  /*超链接无下划线*/
}
.box .footers > ul > li > a i {
  display: block;
  width: 40%;
  margin: 0 auto 5px;
  font-size: 30px;
  color: #C6C6C6;
}
