<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/easyui/css/admin.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/easyui/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/easyloader.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/easyui/js/extends.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/time.js"></script>
</head>
<body>
    <table id="dg" class="easyui-datagrid" title="馆主列表" toolbar="#tb"></table>
    <div id="tb">
        关键字: <input class="easyui-textbox" id="search" style="width:160px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">基本查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="nextUser()">旗下代理</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="nextPlayer()">旗下玩家</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
        <a href="{:U('Admin/User/userListExport')}" class="easyui-linkbutton"  plain="true" >数据导出</a>
    </div>
    <div id="dlgEdit" class="easyui-dialog" style="padding:10px 20px;width:400px;"
         closed="true" buttons="#dlgEdit-buttons" modal="true">
        <form id="fmEdit" method="post" novalidate>
            <div class="easyui-panel" title="基本信息" style="padding:5px;">
                <div class="fitem">
                    <label>馆主账号:</label>
                    <input name='agent_id' id="agent_id" type="hidden" />
                    <input name="login_id" id="login_id" disabled class="easyui-textbox" data-options="height:30">
                </div>
                <div class="fitem">
                    <label>馆主姓名:</label>
                    <input name="name" id="name" type="text" class="easyui-textbox" data-options="height:30">
                </div>
                <div class="fitem">
                    <label>馆主身份证:</label>
                    <input name="card_id" id="card_id" type="text" class="easyui-textbox" data-options="height:30">
                </div>
                <div class="fitem">
                    <label>电话号码:</label>
                    <input name="tel" id="tel" class="easyui-textbox" data-options="height:30">
                </div>
                <div class="fitem">
                    <label>茶馆名称:</label>
                    <input name="tea_name" id="tea_name" class="easyui-textbox" data-options="height:30" />
                </div>
                <div class="fitem">
                    <label>茶馆区域:</label>
                    <input name="city" id="city" class="easyui-textbox" data-options="height:30" />
                </div>
                <div class="fitem">
                    <label>茶馆公告:</label>
                    <input name="notice" id="notice" class="easyui-textbox" data-options="height:30" />
                </div>
                <div class="fitem">
                    <label>开通配额:</label>
                    <input name="sub_player" id="sub_player" class="easyui-textbox" data-options="height:30" />
                </div>
            </div>
        </form>
        <div id="dlgEdit-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()" style="width:90px">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgEdit').dialog('close')" style="width:90px">取消</a>
        </div>
    </div>
    <script type="text/javascript">
        //编辑信息
        function editUser(){
            var rows = $('#dg').datagrid('getData');
            if(rows.has == 'has') {
                $.messager.alert('温馨提示！','不能编辑此行','error');
                return false;
            }else if(rows.total == 0) {
                $.messager.alert('温馨提示！','请选中要编辑的行','error');
                return false;
            }else{
                var row = $('#dg').datagrid('getSelected');
                if (row){
                    $('#dlgEdit').dialog('open').dialog('setTitle','修改馆主信息');
                    $('#fmEdit').form('load',row);
                }else{
                    $.messager.alert('错误提示','请先选中要编辑的条目','error');
                    return false;
                }
            }
        }
        //请求数据
        $(function () {
            $("#dg").datagrid({
                loadMsg : '数据加载中……',
                url:"{:U('Admin/User/userList')}",
                pagination:true,
                singleSelect:true,
                pageSize: 25, //页大小
                pageList: [25,50,75,100],
                pagePosition:'bottom',
                fit:true,
                fitColumn:true,
                striped: true,
                idField:'id',
                columns:[[
                    {field:'id',hidden:true},
                    {field:'card_id',hidden:true},
                    {field:'notice',hidden:true},
                    {field:'tel',hidden:true},
                    {field:'agent_id',width:100,align:'center',title:'茶馆ID'},
                    {field:'tea_name',width:100,align:'center',title:'茶馆名称'},
                    {field:'city',width:120,align:'center',title:'茶楼区域'} ,
                    {field:'game_id',width:100,align:'center',title:'游戏ID'}  ,
                    {field:'login_id',width:100,align:'center',title:'馆主账号'},
                    {field:'name',width:100,align:'center',title:'馆主姓名'},
                    {field:'role',width:60,align:'center',title:'等级',formatter:function (value) {
                        if(value == 1) {
                            value = '初级代理';
                        }else if(value == 2) {
                            value = '中级代理';
                        }else if(value == 3) {
                            value = '高级代理';
                        }else{
                            value = '钻石代理';
                        }
                        return value;
                    }},
                    {field:'sub_player',editor:'text',width:60,align:'center',title:'剩余配额'} ,
                    {field:'total_rebate',width:120,align:'center',title:'总返利额'},
                    {field:'wait_withdraw',width:120,align:'center',title:'待提现额'},
                    {field:'create_time',width:180,align:'center',title:'注册时间',formatter:
                        function (value) {
                            value = getLocalTime(value);
                            return value;
                        }
                    },
                    {field:'state',width:80,align:'center',title:'操作', formatter:
                        function(value,row){
                            var btn = '';
                            if(value == 1) {
                                btn = '<input type="button" id='+row.agent_id+' value="启用" style="background-color: #3e7b9f;color: #FFFFFF" onclick="modState(this)"/>';
                            }else{
                                btn = '<input type="button" id='+row.agent_id+' value="封号" style="background-color: #CAA45B;color: #FFFFFF" onclick="modState(this)"/>';
                            }
                            return btn;
                        }
                    },
                ]]
            })
        })

        //解封操作
        function modState(This) {
            var agent_id = $.trim($(This).attr('id'));
            var state = '';
            if($.trim($(This).val()) == '启用') {
                state = 0;
            }else if($.trim($(This).val()) == '封号') {
                state = 1;
            }
            $.ajax({
                type:'post',
                url:"{:U('Admin/User/modState')}",
                dataType:'json',
                data:{'agent_id':agent_id,'state':state},
                success: function (data) {
                    if(data == 'error') {
                        $.messager.alert('温馨提示！','修改状态失败!','warning',setTimeout(function () {
                            window.location.href="{:U('Admin/User/userList')}"
                        },500));
                    }else if(data == 'success'){
                        $.messager.alert('温馨提示！','修改成功!','info',setTimeout(function () {
                            window.location.href="{:U('Admin/User/userList')}"
                        },500));
                    }else if(data == 'noaccess') {
                        $.messager.alert('权限提示','抱歉，你没有操作此功能的权限','error')
                    }
                }
            })
        }
        
        function saveUser() {
            var agent_id = $.trim($("#agent_id").val());
            var login_id = $.trim($("#login_id").val());
            var named = $.trim($("#name").val());
            var tel = $.trim($("#tel").val());
            var tea_name = $.trim($("#tea_name").val());
            var city = $.trim($("#city").val());
            var notice = $.trim($("#notice").val());
            var card_id = $.trim($("#card_id").val());
            var tea_name = $.trim($("#tea_name").val());
            var sub_player = $.trim($("#sub_player").val());

            if(login_id == '' || tel == '') {
                if(login_id == '') {
                    if(login_id == '') {
                        $.messager.alert('温馨提示！','登录账号是必填项','error');
                        return false;
                    }
                }
                if(tel == '') {
                    $.messager.alert('温馨提示！','手机号是必填项','error');
                    return false;
                }
            }else{
                var regs = /^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,10}$/;
                var tag = regs.test(login_id);
                if(!tag) {
                    $.messager.alert('温馨提示！','请输入合法的登录账号','error');
//                        alert("账号格式为6-10位字母拼音+数字的组合");
                    return false;
                }
                var sreg = /^1[3|4|5|7|8][0-9]{9}$/;
                var stag = sreg.test(tel);
                if(!stag) {
                    $.messager.alert('温馨提示！','请输入合法的手机号码','error');
                    return false;
                }

                $.ajax({
                    type:'post',
                    url:"{:U('Admin/User/userInfoSave')}",
                    dataType:'json',
                    data:{'agent_id':agent_id,'login_id':login_id,'name':encodeURI(named),'card_id':card_id,'tel':tel,'tea_name':tea_name,'city':encodeURI(city),'notice':encodeURI(notice),'sub_player':sub_player},
                    success: function (data) {
                        if(data == 'error') {
                            $.messager.alert('温馨提示！','网络错误，信息保存失败!','warning',setTimeout(function () {
                                window.location.href="{:U('Admin/User/userList')}"
                            },500));
                        }else if(data == 'texist'){
                            $.messager.alert('温馨提示！','该电话号码已被匹配，信息保存失败!','warning',setTimeout(function () {
                                window.location.href="{:U('Admin/User/userList')}"
                            },500));
                        }else if(data == 'success'){
                            $.messager.alert('温馨提示！','保存成功!','info',setTimeout(function () {
                                window.location.href="{:U('Admin/User/userList')}"
                            },500));
                        }else if(data == 'noaccess') {
                            $.messager.alert('权限提示','抱歉，你没有操作此功能的权限','error')
                        }
                    }
                })
            }


        }
        //搜索
        function doSearch() {
            var search = $.trim($("#search").val());
            $("#dg").datagrid({
                loadMsg : '数据加载中……',
                url:"{:U('Admin/User/userList')}",
                queryParams:{
                    search:search
                },
                pagination:true,
                singleSelect:true,
                pageSize: 25, //页大小
                pageList: [25,50,75,100],
                pagePosition:'bottom',
                fit:true,
                fitColumn:true,
                striped: true,
                idField:'id',
                columns:[[
                    {field:'id',hidden:true},
                    {field:'card_id',hidden:true},
                    {field:'notice',hidden:true},
                    {field:'tel',hidden:true},
                    {field:'agent_id',width:100,align:'center',title:'茶馆ID'},
                    {field:'tea_name',width:100,align:'center',title:'茶馆名称'},
                    {field:'city',width:120,align:'center',title:'茶楼区域'} ,
                    {field:'game_id',width:100,align:'center',title:'游戏ID'}  ,
                    {field:'login_id',width:100,align:'center',title:'馆主账号'},
                    {field:'name',width:100,align:'center',title:'馆主姓名'},
                    {field:'role',width:60,align:'center',title:'等级',formatter:function (value) {
                        if(value == 1) {
                            value = '初级代理';
                        }else if(value == 2) {
                            value = '中级代理';
                        }else if(value == 3) {
                            value = '高级代理';
                        }else{
                            value = '钻石代理';
                        }
                        return value;
                    }},
                    {field:'sub_player',editor:'text',width:60,align:'center',title:'剩余配额'} ,
                    {field:'total_rebate',width:120,align:'center',title:'总返利额'},
                    {field:'wait_withdraw',width:120,align:'center',title:'待提现额'},
                    {field:'create_time',width:180,align:'center',title:'注册时间',formatter:
                        function (value) {
                            value = getLocalTime(value);
                            return value;
                        }
                    },
                    {field:'state',width:80,align:'center',title:'操作', formatter:
                        function(value,row){
                            var btn = '';
                            if(value == 1) {
                                btn = '<input type="button" id='+row.agent_id+' value="启用" style="background-color: #3e7b9f;color: #FFFFFF" onclick="modState(this)"/>';
                            }else{
                                btn = '<input type="button" id='+row.agent_id+' value="封号" style="background-color: #CAA45B;color: #FFFFFF" onclick="modState(this)"/>';
                            }
                            return btn;
                        }
                    },
                ]]
            })
        }

        //下级代理
        function nextUser() {
            var search = $.trim($("#search").val());
            var regs = /^\d{4}$/;
            var tags = regs.test(search);
            if(search == '') {
                $.messager.alert('温馨提示！','请输入代理ID','error');
                return false;
            }else{
                if(!tags) {
                    $.messager.alert('温馨提示！','请输入正确的代理ID','error');
                    return false;
                }else{
                    $("#dg").datagrid({
                        loadMsg : '数据加载中……',
                        url:"{:U('Admin/User/userList')}?nextAgent="+search,
                        pagination:true,
                        singleSelect:true,
                        pageSize: 25, //页大小
                        pageList: [25,50,75,100],
                        pagePosition:'bottom',
                        fit:true,
                        fitColumn:true,
                        striped: true,
                        idField:'id',
                        columns:[[
                            {field:'id',hidden:true},
                            {field:'agent_id',width:100,align:'center',title:'旗下馆主'},
                            {field:'login_id',width:100,align:'center',title:'登录账号'}  ,
                            {field:'game_id',width:100,align:'center',title:'游戏ID'},
                            {field:'name',width:100,align:'center',title:'姓名'},
                            {field:'city',width:100,align:'center',title:'茶馆区域'},
                            {field:'total',width:120,align:'center',title:'合计返利'},
                        ]]
                    })
                }
            }
        }
        //下属玩家
        function nextPlayer() {
            var search = $.trim($("#search").val());
            var regs = /^\d{4}$/;
            var tags = regs.test(search);
            if(search == '') {
                $.messager.alert('温馨提示！','请输入代理ID','error');
                return false;
            }else{
                if(!tags) {
                    $.messager.alert('温馨提示！','请输入正确的代理ID','error');
                    return false;
                }else{
                    $("#dg").datagrid({
                        loadMsg : '数据加载中……',
                        url:"{:U('Admin/User/userList')}?nextPlayer="+search,
                        pagination:true,
                        singleSelect:true,
                        pageSize: 25, //页大小
                        pageList: [25,50,75,100],
                        pagePosition:'bottom',
                        fit:true,
                        fitColumn:true,
                        striped: true,
                        idField:'id',
                        columns:[[
                            {field:'id',hidden:true},
                            {field:'uid',width:100,align:'center',title:'旗下玩家'},
                            {field:'name',width:100,align:'center',title:'玩家昵称'},
                            {field:'total',width:120,align:'center',title:'合计返利'},
                        ]]
                    })
                }
            }
        }
    </script>
</body>
</html>